.rightSideChild {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-darkslategray-100);
  width: 844px;
  height: 1117px;
}

.rightSideItem {
  position: absolute;
  top: 227.98px;
  left: 66.82px;
  border-radius: 50%;
  background: linear-gradient(162.74deg,
      rgba(68, 76, 231, 0.16),
      rgba(0, 0, 0, 0)),
    radial-gradient(50% 50% at 50% 50%,
      rgba(68, 76, 231, 0.16),
      rgba(68, 76, 231, 0.06));
  width: 710.37px;
  height: 661.04px;
}

.rightSideInner {
  position: absolute;
  top: 269.43px;
  left: 112.53px;
  border-radius: 50%;
  background: linear-gradient(173.9deg,
      rgba(164, 188, 253, 0.2),
      rgba(68, 76, 231, 0.16)),
    radial-gradient(50% 50% at 50% 50%,
      rgba(68, 76, 231, 0.16),
      rgba(68, 76, 231, 0.06));
  width: 618.93px;
  height: 575.95px;
}

.forgotYourPassword {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 24px;
  display: inline-block;
  width: 643px;
  height: 25px;
}

.youCanGet {
  margin-block-start: 0;
  margin-block-end: 16px;
}

.youCanGetContainer {
  position: absolute;
  top: 25px;
  left: 0px;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-weight: 500;
  color: var(--color-lavender-200);
  display: inline-block;
  width: 643px;
  height: 26px;
}

.forgotYourPasswordParent {
  position: relative;
  width: 643px;
  height: 51px;
}

.carouseldesktoplargeChild {
  position: absolute;
  height: 100%;
  width: 40%;
  top: 0%;
  right: 60%;
  bottom: 0%;
  left: 0%;
  border-radius: var(--br-9xs);
  background-color: var(--color-lavender-100);
}

.carouseldesktoplargeItem {
  position: absolute;
  height: 100%;
  width: 20%;
  top: 0%;
  right: 30%;
  bottom: 0%;
  left: 50%;
  border-radius: var(--br-9xs);
  background-color: var(--color-lavender-300);
}

.carouseldesktoplargeInner {
  position: absolute;
  height: 100%;
  width: 20%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 80%;
  border-radius: var(--br-9xs);
  background-color: var(--color-lavender-300);
}

.carouseldesktoplarge {
  position: relative;
  width: 40px;
  height: 8px;
}

.groupParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}

.frameDiv {
  position: absolute;
  top: 889.02px;
  left: 44.54px;
  width: 753.74px;
  height: 184.35px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-31xl) 0px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}

.undrawMyPasswordReYdq71Icon {
  position: absolute;
  top: calc(50% - 284.7px);
  left: calc(50% - 312.98px);
  width: 625.97px;
  height: 568.32px;
  overflow: hidden;
}

.rightSide {
  position: absolute;
  top: 0px;
  left: 884px;
  width: 844px;
  height: 1117px;
}

.forgotYourPassword1 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  width: 489px;
  height: 38px;
  flex-shrink: 0;
}

.enterYourEmail {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 24px;
  color: var(--color-dimgray);
  display: inline-block;
  width: 494px;
  height: 76px;
  flex-shrink: 0;
}

.forgotYourPasswordGroup {
  width: 494px;
  height: 68px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.frameWrapper1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.envelopeIcon {
  position: relative;
  width: 30px;
  height: 30px;
}

.email {
  position: relative;
  line-height: 24px;
}

.envelopeParent {
  border-radius: var(--br-3xs);
  background-color: var(--color-cornflowerblue-400);
  border: 2px solid var(--color-cornflowerblue-300);
  box-sizing: border-box;
  width: 453px;
  height: 64px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}

.frameParent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}

.getOtpWrapper {
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-100);
  width: 453px;
  height: 64px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.frameWrapper3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}

.frameGroup {
  width: 473px;
  height: 236px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xl);
  font-size: var(--font-size-lg);
  color: var(--color-navy);
  font-family: var(--font-inter);
}

.frameParent {
  position: absolute;
  top: calc(50% - 160.5px);
  left: calc(50% - 711px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xl);
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-100);
}

.forgotPassword {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-lavender-100);
  font-family: var(--font-montserrat);
}